:root{
  margin-bottom:200px;
}

#rightContainer {
  padding-top: 40px;
}

#captionsContainer {
  margin-top:30px;
  overflow-y: auto;
  width: 80%;
}

/* Hide scrollbar */
#captionsContainer::-webkit-scrollbar { 
  display: none; /* Chrome, Safari, Opera */
}